* {
  box-sizing: border-box; }

.clearfix:before, .main-container:before {
  content: " ";
  display: table; }
.clearfix:after, .main-container:after {
  content: " ";
  display: table; }

.clearfix:after, .main-container:after {
  clear: both; }

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  margin: 0; }

.viewport {
  float: left;
  margin: 10px; }
  .viewport iframe {
    border: 1px solid #afacac; }
  .viewport .iframe-preloader {
    position: absolute;
    background: white url("../img/preloader.gif") no-repeat center;
    border: 1px solid #afacac;
    opacity: 1;
    transition: opacity 0.5s; }
    .viewport .iframe-preloader.hide {
      opacity: 0;
      transition: opacity 0.5s;
      z-index: -1; }
  .viewport input[type='text'] {
    width: 60px; }

input[type='text'] {
  padding: 5px;
  margin: 5px;
  border: 1px solid #afacac; }

.selection select {
  background: white;
  border: 1px solid #afacac;
  width: 268px;
  padding: 5px;
  border-radius: 2px;
  height: 28px;
  -webkit-appearance: none; }

.top-container {
  padding: 10px;
  background: #7ab3c5;
  color: black;
  position: fixed;
  height: 55px;
  width: 100%;
  top: 0;
  text-align: center;
  font-size: 18px; }
  .top-container #address {
    width: 400px; }

.button {
  padding: 5px 10px 7px 10px;
  margin: 5px;
  border-radius: 3px;
  border: 0;
  background: #dbdbdb;
  color: black;
  cursor: pointer;
  font-size: 16px; }
  .button.button-go {
    color: white;
    background: #8fcf53; }

.size-container {
  text-align: center;
  margin: 0px 0px 10px 0px; }

.main-container {
  margin: 60px 0 0 0; }

.remove {
  cursor: pointer; }
